{% load to_spacce %}
{% load range_filter %}
<nav class="navbar navbar-dark bg-primary justify-content-between">
	<a class="navbar-brand" href="{% url "home" %}">BellcoShop</a>
	<div class="conteiner">
				<ul class=" nav nav-pills">
					{% for item in header_config %}	
					{% url item.server_name as item_url %}
					{% if item_url != request.path %}
					<li class="nav-item active ">
						<a href="{{item_url}}" class="navbar-brand" >{{item.view_name}}</a>
					</li>
					{% endif %}		
					{% endfor %}					
					
				</ul>
	</div>
</nav>
